pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.10.4.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.4.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.4.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.10.4-arch1/linux-v6.10.4-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.10.4-arch1/linux-v6.10.4-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e2c69dfd5fa00c741ebac4560bed9f7be6abb727d05a719e4df9e99df11555f8
	sha256sums = SKIP
	sha256sums = 18431387014924b033b244e80e12cb92206c080ae7e335476946f6521a4429cf
	sha256sums = SKIP
	sha256sums = 8563e1f1e4469fa672d5f614cce58a3eb452e146d5501bc1e197933ddc584c9b
	b2sums = ea7e9a7d74621a6e76b2828ee80cf5df1fcf139469bb8877d93f30d7766f9145961324de5b2cadba29126d7df82a7eeba80303c82c7c1140be3fb46cf213e503
	b2sums = SKIP
	b2sums = f43bcca641ca9b97f57700714ae419b5c13ab2a883d52a53421fd928828ffab674cbdfb42aa1612367e5a05bbc50c48bdc6f1483dfd463ed15cfbceab25af5de
	b2sums = SKIP
	b2sums = e4769883c9dc52eca4c83fa2325cd72d16533139deb364de47874744a52743254f42f1671aeffb09bf0f30c8007b66ee63fe067ab98f04cea98da15c89242662

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
