pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.13.arch1
	pkgrel = 2
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.13-arch1/linux-v6.13-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.13-arch1/linux-v6.13-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e79dcc6eb86695c6babfb07c2861912b635d5075c6cd1cd0567d1ea155f80d6e
	sha256sums = SKIP
	sha256sums = e54189672fb2c3000f3937bc82b27e22743a512f98103b9ade67f8e0a1553094
	sha256sums = SKIP
	sha256sums = a86fb7174a8c00a24cb8c260ba2f5f84b5385fb13d3b47da1dcc377a77ec5ba5
	b2sums = 9f617ecb3f2393b57ba03c654fea62a7213f24c835989f333a1ef29492af551bfa7d9ad786d5ef1484854adc77c7c6af38fb09a72d994d305695f512c325e77f
	b2sums = SKIP
	b2sums = 6eb3db1ad60a4c79dde6cb8d0985affe6cf299ba9dbabb12ef67607a3902de45ef6e847dad82f7eead0b79e224c4425d4966d822c37aed846bd6307592fa1dba
	b2sums = SKIP
	b2sums = b4c3bd858b9cfc6e35462b2d09c76e31803bc1e7e782074e395fbaff70e6fd30e826bef75257cf98adb4d705536d87d69200c9b9018b0fefef1a54e237613107

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
